#telefoneHelpBlock {
    margin-top: 10px;
}

#tituloCadastro {
    display: grid;
    justify-content: center;
}

#subTituloCadastro {
    display: grid;
    justify-content: center;
}

.box1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

#stack-form-telefone {
    display: flex;
}